            /* BACKGROUNDS */
.dog-body {
    background: linear-gradient(
        #EFE3DF,
        #AF9483);
}

.ufo-body {
    background: linear-gradient(
        #EFE3DF,
        #d5f9be
    );
}

  .font-page {
    background: linear-gradient(
        90deg,
        #AF9483,
        #d5f9be
    );
  }
         /* FRONTPAGE LAYOUT */
  .layout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }

            /* TABLES */
#dog-table {
    border: 1px solid;
    background-color: #A47864;
}

#ufo-table {
    border: 1px solid;
    background-color: #D7E8BC;
}

td, th {
   padding: 10px; 
   border: 1px solid;
}
/* #F5D6C6 */
tr:nth-child(even) {
    background-color: rgb(252, 249, 248);
}
         /* SCROLLBAR */
.dog-scroll {
    max-height: 81vh;
    overflow-y: auto;
    width: 60%;
}

.ufo-scroll {
    max-height: 81vh;
    overflow-y: auto;
    width: 45%;
}

::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
  }

  
::-webkit-scrollbar {
    width: 15px;
  }
  

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #EFE3DF; 
  }
             /* FONTS */
.montserrat-alternates {
    font-family: "Montserrat Alternates";
}
.sacramento {
    font-family: "Sacramento";
}
.caprasimo {
    font-family: "Caprasimo";
}

h1 {
    font-size: 50px;
    font-family: "Modak";
    font-weight: 400;
}
            /* HEADER */
thead {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    height: 80px;
}

.ufo {
    background: url("1.jpeg");
    background-position: center;
    background-size: 20%;
  }

  .dog {
    background: url("5.jpeg");
    background-position: center;
    background-size: 15%;
    height: 100px;
  }

  button {
    background: transparent;
    font-family: "Caprasimo";
    width: 100%;
    font-size: 26px;
    color: black;
}

button:hover {
    opacity: 0.5;
}

.ufo-buttons {
    color: black;
}
             /* FOOTER */
  .dog-foot {
    background: url("/5.jpeg");
    background-position: center;
    background-size: 15%;
    height: 100px;
}

.ufo-foot {
    background: url("./1.jpeg");
    background-position: center;
    background-size: 20%;
    height: 80px;
}
            /* SEARCHBAR */
  input {
    width: 30%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 2px solid #090808; 
    margin-bottom: 12px;
    font-family: "Montserrat Alternates";
  }

  .dog-input {
    background: url("./pet.svg");
    background-repeat: no-repeat;
    background-position: 10px 10px; 
  }

  .ufo-input {
    background: url("./hear.svg");
    background-position: 10px 10px; 
    background-repeat: no-repeat; 
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
            /* LINK */
  a {
    font-family: "Montserrat Alternates";
    font-size:larger;
  }
           /* IMAGES */
  img {
    height: 500px;
    width: 500px;
    border-radius: 100px;
  }
